<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign UP</title>
</head>
<body>
    <h1>Sign UP</h1>
    <form action="/user" method="POST">
        <label> Full Name </label>
        <input type="text" name="name"  required>
        <label> Email</label>
        <input type="email" name="email" required>
        <label>Password</label>
        <input type="password" name="password" required>
        <button type="submit">Sign UP</button>

    </form>
   
    
</body>
</html>